# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Dataset files
data/*.csv
data/*.json

# Trained models
models/*.joblib
models/*.pkl

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db